body {
    font-family: 'Source Code Pro', sans-serif;
    background-image: linear-gradient(rgba(73, 75, 85, 0.692),rgba(73, 75, 85, 0.692)), url('images/background.png');
}
#logo{
    border-radius: 20%;
    align-items: center;
}
#logo:hover {
    transform: scale(0.7);
    transition: all 200ms;
    border-radius: 50%;
}
*{
    margin: 0;
    padding: 0;
}
.profile-box {
    width: 300px;
    height: 280px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.329);
    align-items: center;
    opacity: 1;
    margin: 250px;
    margin-left: calc(50% - 150px);
}
.profile-box:hover {
    transition: all 1000ms;
    transform: scale(1.1);
    background-color: rgba(0, 0, 0, 0.43);
}
.profile-box h2 {
    color: rgba(21, 214, 21, 0.767);
    text-align: center;}
#logo {
    width: 70px;
    height: 70px;
    border-radius: 20%;
    margin-top: 10px;
    margin-left: 115px;
    margin-right: auto;
}
.git-hub img{
    margin-top: 65px;
    margin-left: 20px;
}
.github {
    width: 60px;
    height: 60px;
}
.git-hub img:hover {
    transform: scale(1.2);
    transition: all 100ms;
}
.telegram {
    margin-left: 215px;
    margin-top: -62px;
}
.telegram:hover {
    transform: scale(1.2);
    transition: all 100ms;
}
p {
    text-align: center;
    color: gray;
}
p:hover {
    color:aqua;
}
h2:hover {
    color:aqua;
}