body {
    font-family: 'Source Code Pro', sans-serif;
    background-image: linear-gradient(rgba(73, 75, 85, 0.692),rgba(73, 75, 85, 0.692)), url('images/background.png');
}
h2:hover {
    transition: all 5s;
    color: aqua;
    border-color: black;
}
p:hover {
    transition: all 5s;
    color: black;
}
#logo{
    border-radius: 20%;
    align-items: center;
}
#logo:hover {
    transition: all 3s;
    border-radius: 50%;
}
*{
    margin: 0;
    padding: 0;
}
.profile-box {
    width: 300px;
    height: 280px;
    border-radius: 10px;
    backdrop-filter: blur(20px);
    background-color: rgba(0, 0, 0, 0.329);
    align-items: center;
    opacity: 1;
    margin: 250px;
    margin-left: calc(50% - 151px);
}
h2 {
    color: rgba(21, 214, 21, 0.767);
    text-align: center;
}
#logo {
    width: 70px;
    height: 70px;
    border-radius: 20%;
    margin-top: 10px;
    margin-left: 115px;
    margin-right: auto;
}
.git-hub img{
    margin:  70px;
    margin-left: 20px;
}
.telegram {
    margin: 210px;
    margin-top: -130px;
}
p {
    text-align: center;
    color: gray;
}
